<div id='beginner-demo' class='uk-margin-smaall'>
  <div class="uk-button-group">
    <button id='playButton' class="uk-button uk-button-danger">
      <span uk-icon="icon: play"></span> Play Demo
    </button>
  </div>

  <div class='uk-section uk-section-primary uk-preserve-color'>
    <div class='uk-container'>
      <div class='uk-panel uk-light uk-margin-medium'>
        <ul id='word-list' class='uk-tab uk-child-width-expand uk-tab-bottom uk-text-center'>
          <li id='block-0'>
            <h3>안</h3>
            <h3 id='block-0-guess'></h3>
          </li>
          <li id='block-1'>
            <h3>녕</h3>
            <h3 id='block-1-guess'></h3>
          </li>
          <li id='block-2'>
            <h3>하</h3>
            <h3 id='block-2-guess'></h3>
          </li>
          <li id='block-3'>
            <h3>세</h3>
            <h3 id='block-3-guess'></h3>
          </li>
          <li id='block-4'>
            <h3>요</h3>
            <h3 id='block-4-guess'></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
