<div class="uk-card uk-card-body">
  <h3 class="uk-card-title">How to Play Demo:</h3>
  <p>First, click 'Start'. This will ask to access your microphone, which is used to record your attempts for reading each block of text. Click 'allow' if you'd like to play the demo.</p>
  <p>Once the demo begins, you'll see the first block become emphasized. That is your cue to read aloud that block. Soon after, you should see your response below it. If you correctly read it, the next block is unlocked for reading. The objective is to read all the blocks to the end.</p>
  <p>If you are more advanced, you can read multiple or all blocks at once. Feel free to mess around with the voice recognition and break whatever you can.</p>

  <h4>Coming Very Soon: Read your own input!</h4>
</div>

<div id='beginner-demo' class='uk-margin-smaall'>
  <div class="uk-clearfix" uk-height-match>
    <div class="uk-float-right">
      <svg id='recording-dot' height="30" width="30" hidden>
        <circle cx="10" cy="20" r="5" stroke="red" stroke-width="5" fill="red" />
      </svg>
    </div>
    <div class="uk-float-left">
      <button id='playButton' class="uk-button uk-button-danger">
        <span id='playIcon' uk-icon="icon: play">Start </span>
      </button>
    </div>
  </div>

  <div class='uk-section uk-section-primary uk-preserve-color'>
    <div class='uk-container'>
      <div class='uk-panel uk-light uk-margin-medium'>
        <ul id='word-list' class='uk-tab uk-child-width-expand uk-tab-bottom uk-text-center'>
          <li id='block-0'>
            <h3>안</h3>
            <h3 id='block-0-guess'></h3>
          </li>
          <li id='block-1'>
            <h3>녕</h3>
            <h3 id='block-1-guess'></h3>
          </li>
          <li id='block-2'>
            <h3>하</h3>
            <h3 id='block-2-guess'></h3>
          </li>
          <li id='block-3'>
            <h3>세</h3>
            <h3 id='block-3-guess'></h3>
          </li>
          <li id='block-4'>
            <h3>요</h3>
            <h3 id='block-4-guess'></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
